!!! 5
%html
	%head
		%title IETF Notifier
	%body
		%h1 Subscription confirmation
		%p
			Someone requested subscription of and IETF draft.
			If this wasn’t you, please ignore this mail.
		#footer IETF notifier
