%h1 Subscribe
%form{action: 'subscribe', method: 'post'}
	.form-body
		%label
			name of the document (without the version number)
			%input{type: 'text', name: 'name', size: 40,
				placeholder: 'draft-ietf-httpbis-expect-ct', pattern: '[a-z0-9\-]+', required: true}
		%label
			email address
			%input{type: 'email', name: 'email', size: 40,
				placeholder: 'foobar@example.com', required: true}
	%input{type: 'submit'}
